
h1{
    text-align: center;
    font-size: 2.4rem;
}

.container{
    width: 400px;
    height: 200px;
    background: #ccc;
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container p{
    font-size: 2rem;
}
.btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_container button{
    padding: 10px;
    background: #00faff;
    cursor: pointer;
    border-radius: 12px;
}